<h1>People</h1>

	<form ng-submit="addPerson()">
	<div class="form-group">
		<label for="">Name</label>
		<input type="text" class="form-control" ng-model="newPerson.name">
	</div>
	<div class="form-group">			
		<label for="">Age</label>
		<input type="text" class="form-control" ng-model="newPerson.age">
	</div>
		<button type="submit" class="btn btn-primary">Add person</button>
	</form>


	<h1>Adults</h1>
	<ul>
		<li ng-repeat="dood in people"
			ng-show="dood.age>18"
			>
		{{dood.name}} is {{dood.age}} old</li>
	</ul>

	<h1>Minors</h1>
	<ul>
		<li ng-repeat="dood in people"
			ng-show="dood.age<18"
			>
		{{dood.name}} is {{dood.age}} old</li>
	</ul>

<!-- 	<ul>
		<li ng-repeat="name in names" 
			ng-hide="name.length > 5">
		{{name}}
		</li>
	</ul> -->